<div class="container-sm">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top"
  >
    <div class="col-md-4 d-flex align-items-center justify-content-start">
      <span class="text-muted">© {{ thisYear }} Leonardo Gilli</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-muted" href="https://github.com/leog10">
          <i class="bi bi-github" style="font-size: 1rem; color: #f25a40"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="https://ar.linkedin.com/in/leonardogilli">
          <i class="bi bi-linkedin" style="color: #0a66c2"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="https://www.facebook.com/leonardogilli">
          <i class="bi bi-facebook" style="color: #4267b2"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>
