<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top"
  >
    <div class="col-md-4 d-flex align-items-center">
      <a
        href="/"
        class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
      >
        <svg class="bi" width="30" height="24">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <span class="text-muted">© 2022 Leonardo Gilli</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-muted" href="#">
          <i class="bi bi-github" style="font-size: 1rem; color: #f25a40"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="#">
          <i class="bi bi-linkedin" style="color: #0a66c2"></i>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="#">
          <i class="bi bi-facebook" style="color: #4267b2"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>
