<div>
  <nav class="navbar navbar-dark bg-dark py-1 fixed-top">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">LOGO</a>
      <button
        type="button"
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#MenuNavegacion"
      >
        <span class="navbar-toggler-icon py-0"></span>
      </button>
      <div id="MenuNavegacion" class="collapse navbar-collapse py-0">
        <ul class="navbar-nav ms-auto me-auto text-center">
          <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Acerca</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#">Proyectos</a>
          </li>
        </ul>
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a class="nav-link" href="#">Iniciar Sesion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
