<div class="hero_container card container-sm p-0 pb-4">
  <div
    *ngIf="personaPlaceholder; else profilePlaceholder"
    class="container-sm p-0 rounded-top"
  >
    <img
      *ngIf="!persona.backImg; else personaBackImg"
      class="background_image"
      src="../../../assets/images/default-background.jpg"
      alt="background"
    />
    <ng-template #personaBackImg>
      <img class="background_image" [src]="persona.backImg" alt="background" />
    </ng-template>
    <a
      *ngIf="routeEdit"
      class="edit_background_button"
      data-bs-toggle="modal"
      data-bs-target="#editBackgroundModal"
    ></a>

    <div>
      <div class="d-flex profile_div ps-4">
        <a
          *ngIf="routeEdit"
          class="edit_profile_pic_button"
          data-bs-toggle="modal"
          data-bs-target="#editProfilePicModal"
        ></a>
        <img
          *ngIf="!persona.profileImg; else personaProfileImg"
          src="../../../assets/images/default-profile.jpg"
          alt=""
          class="profile_image border border-5 border-white"
        />
        <ng-template #personaProfileImg>
          <img
            [src]="persona.profileImg"
            alt=""
            class="profile_image border border-5 border-white"
            onerror="this.src='../../../assets/images/default-profile.jpg';"
          />
        </ng-template>
        <div class="ms-auto me-3" *ngIf="routeEdit">
          <a class="a_icon" data-bs-toggle="modal" data-bs-target="#editProfile"
            ><i class="fa-solid fa-user-pen" data-title="Editar"></i
          ></a>
        </div>
      </div>
    </div>

    <!-- Perfil -->
    <div class="d-flex flex-column align-items-start ps-4 mt-3">
      <h4 class="mb-0">
        {{ persona?.firstName + " " + persona?.lastName }}
      </h4>
      <div class="d-flex pe-3">
        <span class="">{{ persona?.position }}</span>
      </div>
      <div>
        <span class="text-secondary fw-light pre_wrap">{{
          persona?.location
        }}</span>
      </div>
    </div>
  </div>

  <!-- Placeholder -->
  <ng-template #profilePlaceholder>
    <div class="container-sm p-0 rounded-top" aria-hidden="true">
      <img
        src="../../../assets/images/default-background.jpg"
        class="background_image"
        alt="..."
      />
      <div class="card-body mt-5 ps-4">
        <h5 class="card-title placeholder-glow">
          <span class="placeholder col-3"></span>
        </h5>
        <p class="card-text placeholder-glow">
          <span class="placeholder col-2"></span>
          <br />
          <span class="placeholder col-3"></span>
        </p>
      </div>
      <div>
        <div class="d-flex placeholder_profile_div ps-4">
          <img
            src="../../../assets/images/default-profile.jpg"
            alt=""
            class="profile_image border border-5 border-white"
          />
        </div>
      </div>
    </div>
  </ng-template>
  <!-- End Placeholder -->
</div>

<!-- Acerca de -->
<div class="card container-sm mt-2 py-4 ps-4">
  <div id="aboutMe">
    <div class="d-flex">
      <h4 class="flex-grow-1">Acerca de</h4>
      <div *ngIf="routeEdit" class="d-flex">
        <a
          class="d-flex a_icon align-self-end me-1"
          data-title="Editar"
          data-bs-toggle="modal"
          data-bs-target="#editAbout"
          ><i class="fa-solid fa-pen-clip"></i
        ></a>
      </div>
    </div>

    <div *ngIf="aboutMePlaceholder; else aboutPlaceholder">
      <div class="d-flex pe-2">
        <span class="mt-3 pre_wrap">{{ persona?.aboutMe }}</span>
      </div>
    </div>
    <!-- Placeholder -->
    <ng-template #aboutPlaceholder>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-8"></span>
        <br />
        <span class="placeholder col-7"></span>
        <br />
        <span class="placeholder col-9"></span>
        <br />
        <span class="placeholder col-4"></span>
      </p>
    </ng-template>
    <!-- End Placeholder -->
  </div>
</div>

<!-- Perfil Modal -->
<div
  *ngIf="persona"
  class="modal fade border-0"
  id="editProfile"
  data-bs-backdrop="static"
  data-bs-keyboard="true"
  tabindex="-1"
  aria-labelledby="editProfileLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Editar Perfil</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Perfil Form -->

        <form #profileForm="ngForm" (ngSubmit)="updateProfile()" novalidate>
          <div class="row">
            <div class="form-group col">
              <label class="text-secondary" for="firstName">Nombre</label>
              <input
                type="text"
                name="firstName"
                id="firstName"
                class="form-control mt-0"
                placeholder="Nombre"
                [(ngModel)]="editFirstName"
                required
              />
            </div>
            <div class="form-group col">
              <label class="text-secondary" for="lastName">Apellido</label>
              <input
                type="text"
                name="lastName"
                id="lastName"
                placeholder="Apellido"
                class="form-control"
                [(ngModel)]="editLastName"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label class="mt-2 text-secondary" for="position">Ocupación</label>
            <input
              type="text"
              name="position"
              id="position"
              placeholder="Ocupación/Título Ej: Programador Web"
              class="form-control"
              [(ngModel)]="editPosition"
              required
            />
          </div>

          <div class="form-group">
            <label class="mt-2 text-secondary" for="location">Ubicación</label>
            <input
              type="text"
              name="location"
              id="location"
              placeholder="Ubicación"
              class="form-control"
              [(ngModel)]="editLocation"
              required
            />
          </div>

          <div class="modal-footer border-0 mt-1">
            <button
              class="btn btn-outline-primary fw-bold rounded-pill"
              data-bs-dismiss="modal"
              [disabled]="!profileForm.valid"
              type="submit"
            >
              Guardar
            </button>
          </div>
        </form>

        <!-- End Perfil Form -->
      </div>
    </div>
  </div>
</div>
<!-- Fin Perfil Modal -->

<!-- Acerca De Modal -->
<div
  *ngIf="persona"
  class="modal fade border-0"
  id="editAbout"
  data-bs-backdrop="static"
  data-bs-keyboard="true"
  tabindex="-1"
  aria-labelledby="editAboutLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header">
        <h5 class="modal-title" id="editAboutLabel">Editar Perfil</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Acerca De Form -->

        <form #aboutForm="ngForm" (ngSubmit)="updateAbout()" novalidate>
          <div class="form-group">
            <label class="mt-2 text-secondary" for="aboutMe"
              >Descripción sobre ti</label
            >
            <textarea
              #aboutMe
              name="aboutMe"
              id="aboutMe"
              rows="8"
              class="form-control"
              placeholder="Acerca de tí"
              maxlength="500"
              [(ngModel)]="editAboutMe"
              required
              [class.is_max_warning]="aboutMe.value.length > 499"
            ></textarea>
            <div class="d-flex justify-content-end">
              <span class="text-secondary">{{ aboutMe.value.length }}/500</span>
            </div>
            <div
              *ngIf="aboutMe.value.length > 499"
              class="d-flex justify-content-start"
            >
              <span class="alert alert-warning"
                >Has alcanzado el límite de caracteres</span
              >
            </div>
          </div>

          <div class="modal-footer border-0 mt-1">
            <button
              class="btn btn-outline-primary fw-bold rounded-pill"
              data-bs-dismiss="modal"
              [disabled]="!aboutForm.valid"
              type="submit"
            >
              Guardar
            </button>
          </div>
        </form>

        <!-- End Acerca De Form -->
      </div>
    </div>
  </div>
</div>
<!-- Fin Acerca De Modal -->

<!-- Foto Perfil Modal -->
<div
  *ngIf="persona"
  class="modal fade border-0"
  id="editProfilePicModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="editProfilePicModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content border-0">
      <div class="modal-header border-0">
        <h5 class="modal-title text-white" id="editProfilePicModalLabel">
          Editar Foto
        </h5>
        <button
          [disabled]="uploadProgress[0] > 0"
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          (click)="editProfilePicForm.reset()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Edit Form -->

        <div class="container-sm">
          <div id="editProfilePic" class="d-flex justify-content-center">
            <img
              *ngIf="!persona.profileImg; else personaProfileImg"
              src="../../../assets/images/default-profile.jpg"
              alt=""
              class="profile_image border border-5 border-white"
            />
            <ng-template #personaProfileImg>
              <img
                [src]="persona.profileImg"
                alt=""
                class="profile_image border border-5 border-white"
              />
            </ng-template>
          </div>
        </div>

        <form
          #editProfilePicForm="ngForm"
          (ngSubmit)="onProfileImgUpdate()"
          novalidate
        >
          <div class="">
            <label for="formFileSm" class="form-label mt-3 mb-0 ms-1 text-white"
              >Carga una nueva imagen:</label
            >
            <input
              #profileImg
              class="form-control form-control-sm"
              id="formFileSm"
              type="file"
              name="profileImg"
              (change)="profileImgListener($event)"
              accept=".png,.jpg,.jpeg"
              [ngModel]=""
              required
            />
            <div *ngIf="profileImg.value.length > 0">
              <span class="text-warning fs-6 ms-1">Aviso: </span>
              <span class="text-white fs-6"
                >Tu foto actual sera reemplazada!</span
              >
            </div>
          </div>

          <div *ngIf="uploadProgress.length > 0">
            <div>
              <div class="progress mt-2">
                <div
                  class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: uploadProgress[0] + '%' }"
                  attr.aria-valuenow="{{ uploadProgress[0] }}"
                ></div>
              </div>
            </div>
          </div>

          <div class="modal-footer border-secondary mt-3 mb-0">
            <button
              id="deleteProfileImgButton"
              type="button"
              *ngIf="persona.profileImg"
              class="btn btn-danger fw-bold rounded-pill"
              [disabled]="!persona.profileImg"
              (click)="deleteProfileImage(persona.profileImg)"
            >
              Borrar
            </button>
            <button
              id="saveProfileImgButton"
              class="btn btn-outline-primary fw-bold rounded-pill"
              [disabled]="!(profileImg.value.length > 0)"
              type="submit"
            >
              Guardar Foto
            </button>
          </div>
        </form>

        <!-- End Edit Form -->
      </div>
    </div>
  </div>
</div>
<!-- Fin Foto Perfil Modal -->

<!-- Background Modal -->
<div
  *ngIf="persona"
  class="modal fade border-0"
  id="editBackgroundModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="editBackgroundModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content border-0">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="editBackgroundModalLabel">Editar Fondo</h5>
        <button
          [disabled]="uploadProgress[0] > 0"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="editBackgroundForm.reset()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Edit Form -->

        <div class="d-flex justify-content-center container-sm">
          <img
            *ngIf="!persona.backImg; else personaBackImg"
            class="background_image"
            src="../../../assets/images/default-background.jpg"
            alt="background"
          />
          <ng-template #personaBackImg>
            <img
              class="background_image"
              [src]="persona.backImg"
              alt="background"
            />
          </ng-template>
        </div>

        <form
          #editBackgroundForm="ngForm"
          (ngSubmit)="onBackgroundImgUpdate()"
          novalidate
        >
          <div class="">
            <label for="formFileSm" class="form-label mt-3 mb-0 ms-1"
              >Carga una imagen nueva.</label
            >
            <input
              class="form-control form-control-sm"
              id="formFileSm"
              type="file"
              name="img"
              accept=".png,.jpg,.jpeg"
              (change)="backgroundImgListener($event)"
              [ngModel]=""
              required
            />
            <div *ngIf="editBackgroundForm.valid">
              <span class="text-danger fs-6 ms-1 mt-1">Aviso: </span>
              <span class="fs-6">Tu fondo actual sera reemplazado!</span>
            </div>
          </div>

          <div *ngIf="uploadProgress.length > 0">
            <div>
              <div class="progress mt-2">
                <div
                  class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: uploadProgress[0] + '%' }"
                  attr.aria-valuenow="{{ uploadProgress[0] }}"
                ></div>
              </div>
            </div>
          </div>

          <div class="modal-footer border-secondary mt-3 mb-0">
            <button
              id="deleteBackImgButton"
              type="button"
              *ngIf="persona.backImg"
              class="btn btn-outline-danger fw-bold rounded-pill"
              [disabled]="!persona.backImg"
              (click)="deleteBackgroundImage(persona.backImg)"
            >
              Borrar
            </button>
            <button
              id="saveBackImgButton"
              class="btn btn-outline-primary fw-bold rounded-pill"
              [disabled]="!editBackgroundForm.valid"
              type="submit"
            >
              Guardar Foto
            </button>
          </div>
        </form>

        <!-- End Edit Form -->
      </div>
    </div>
  </div>
</div>
<!-- Fin Background Modal -->
