<div class="card container-sm p-0 pb-4 mt-5">
  <img
    *ngIf="persona"
    class="background_image"
    [src]="persona.backImg"
    alt="background"
  />
  <a
    *ngIf="routeEdit"
    class="edit_background_button"
    data-bs-toggle="modal"
    data-bs-target="#editBackgroundModal"
  ></a>

  <div *ngIf="persona">
    <div class="d-flex profile_div ps-4">
      <a
        *ngIf="routeEdit"
        class="edit_profile_pic_button"
        data-bs-toggle="modal"
        data-bs-target="#editProfilePicModal"
      ></a>
      <img
        [src]="persona.profileImg"
        alt=""
        class="profile_image border border-5 border-white"
      />
      <div class="ms-auto me-3" *ngIf="routeEdit">
        <a class="a_edit" data-bs-toggle="modal" data-bs-target="#editProfile"
          ><i class="fas fa-pen" data-title="Editar"></i
        ></a>
      </div>
    </div>
  </div>

  <!-- Perfil -->
  <div class="d-flex flex-column align-items-start ps-4 mt-3">
    <h4 class="mb-0">
      {{ persona?.firstName + " " + persona?.lastName }}
    </h4>
    <div class="d-flex">
      <span class="">{{ persona?.position }}</span>
    </div>
    <div>
      <span class="text-secondary fw-light">{{ persona?.location }}</span>
    </div>
  </div>
</div>

<!-- Acerca de -->
<div class="card container-sm mt-2 py-4 p-0">
  <div class="d-flex ps-4">
    <h4 class="mb-0">Acerca de</h4>
    <div class="ms-auto me-3" *ngIf="routeEdit">
      <a class="a_edit" data-bs-toggle="modal" data-bs-target="#editProfile"
        ><i class="fa fa-pen" data-title="Editar"></i
      ></a>
    </div>
  </div>
  <div class="d-flex ps-4">
    <span class="mt-3">{{ persona?.aboutMe }}</span>
  </div>
</div>

<!-- Perfil Modal -->
<div
  *ngIf="persona"
  class="modal fade border-0"
  id="editProfile"
  data-bs-backdrop="static"
  data-bs-keyboard="true"
  tabindex="-1"
  aria-labelledby="editProfileLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Editar Perfil</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Perfil Form -->

        <form #profileForm="ngForm" (ngSubmit)="onUpdate()" novalidate>
          <div class="row">
            <div class="form-group col">
              <label class="d-none" for="firstName"></label>
              <input
                type="text"
                name="firstName"
                id="firstName"
                class="form-control mt-0"
                placeholder="Nombre"
                [(ngModel)]="editPersona.firstName"
                required
              />
            </div>
            <div class="form-group col">
              <label class="d-none" for="lastName"></label>
              <input
                type="text"
                name="lastName"
                id="lastName"
                placeholder="Apellido"
                class="form-control"
                [(ngModel)]="editPersona.lastName"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label class="d-none" for="position"></label>
            <input
              type="text"
              name="position"
              id="position"
              placeholder="Ocupación/Título Ej: Programador Web"
              class="form-control mt-2"
              [(ngModel)]="editPersona.position"
              required
            />
          </div>

          <div class="form-group">
            <label class="d-none" for="location"></label>
            <input
              type="text"
              name="location"
              id="location"
              placeholder="Ubicación"
              class="form-control mt-2"
              [(ngModel)]="editPersona.location"
              required
            />
          </div>

          <div class="form-group">
            <label class="d-none" for="aboutMe"></label>
            <textarea
              name="aboutMe"
              id="aboutMe"
              rows="2"
              class="form-control mt-2"
              placeholder="Acerca de tí"
              maxlength="255"
              [(ngModel)]="editPersona.aboutMe"
            ></textarea>
          </div>

          <div class="modal-footer border-0 mt-1">
            <button
              class="btn btn-primary fw-bold"
              data-bs-dismiss="modal"
              [disabled]="!profileForm.valid"
              type="submit"
            >
              Guardar
            </button>
          </div>
        </form>

        <!-- End Perfil Form -->
      </div>
    </div>
  </div>
</div>

<!-- Foto Perfil Modal -->
<div
  *ngIf="persona"
  class="modal fade border-0"
  id="editProfilePicModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="editProfilePicModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content border-0">
      <div class="modal-header border-0">
        <h5 class="modal-title text-white" id="editProfilePicModalLabel">
          Editar Foto
        </h5>
        <button
          [disabled]="uploadProgress[0] > 0"
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          (click)="editProfilePicForm.reset()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Edit Form -->

        <div class="container-sm">
          <div id="editProfilePic" class="d-flex justify-content-center">
            <img class="profile_image" [src]="persona.profileImg" alt="" />
          </div>
        </div>

        <form
          #editProfilePicForm="ngForm"
          (ngSubmit)="onProfileImgUpdate()"
          novalidate
        >
          <div class="">
            <label for="formFileSm" class="form-label mt-3 mb-0 ms-1 text-white"
              >Carga una nueva imagen:</label
            >
            <input
              #profileImg
              class="form-control form-control-sm"
              id="formFileSm"
              type="file"
              name="profileImg"
              (change)="profileImgListener($event)"
              accept=".png,.jpg,.jpeg"
              [ngModel]=""
              required
            />
            <div *ngIf="profileImg.value.length > 0">
              <span class="text-warning fs-6 ms-1">Aviso: </span>
              <span class="text-white fs-6"
                >Tu foto actual sera reemplazada!</span
              >
            </div>
          </div>

          <div *ngIf="uploadProgress.length > 0">
            <div>
              <div class="progress mt-2">
                <div
                  class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: uploadProgress[0] + '%' }"
                  attr.aria-valuenow="{{ uploadProgress[0] }}"
                ></div>
              </div>
            </div>
          </div>

          <div class="modal-footer border-secondary mt-3 mb-0">
            <button
              id="deleteProfileImgButton"
              type="button"
              *ngIf="persona.profileImg"
              class="btn btn-danger fw-bold"
              [disabled]="!persona.profileImg"
              (click)="deleteProfileImage(persona.profileImg)"
            >
              Borrar
            </button>
            <button
              id="saveProfileImgButton"
              class="btn btn-primary fw-bold"
              [disabled]="!(profileImg.value.length > 0)"
              type="submit"
            >
              Guardar Foto
            </button>
          </div>
        </form>

        <!-- End Edit Form -->
      </div>
    </div>
  </div>
</div>
<!-- Fin Foto Perfil Modal -->

<!-- Background Modal -->
<div
  *ngIf="persona"
  class="modal fade border-0"
  id="editBackgroundModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="editBackgroundModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content border-0">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="editBackgroundModalLabel">Editar Fondo</h5>
        <button
          [disabled]="uploadProgress[0] > 0"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="editBackgroundForm.reset()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Edit Form -->

        <div class="d-flex justify-content-center container-sm">
          <img
            class="background_image flex-grow-1"
            [src]="persona.backImg"
            alt=""
          />
        </div>

        <form
          #editBackgroundForm="ngForm"
          (ngSubmit)="onBackgroundImgUpdate()"
          novalidate
        >
          <div class="">
            <label for="formFileSm" class="form-label mt-3 mb-0 ms-1"
              >Carga una imagen nueva.</label
            >
            <input
              class="form-control form-control-sm"
              id="formFileSm"
              type="file"
              name="img"
              accept=".png,.jpg,.jpeg"
              (change)="backgroundImgListener($event)"
              [ngModel]=""
              required
            />
            <div *ngIf="editBackgroundForm.valid">
              <span class="text-danger fs-6 ms-1 mt-1">Aviso: </span>
              <span class="fs-6">Tu fondo actual sera reemplazado!</span>
            </div>
          </div>

          <div *ngIf="uploadProgress.length > 0">
            <div>
              <div class="progress mt-2">
                <div
                  class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: uploadProgress[0] + '%' }"
                  attr.aria-valuenow="{{ uploadProgress[0] }}"
                ></div>
              </div>
            </div>
          </div>

          <div class="modal-footer border-secondary mt-3 mb-0">
            <button
              id="deleteBackImgButton"
              type="button"
              *ngIf="persona.backImg"
              class="btn btn-danger fw-bold"
              [disabled]="!persona.backImg"
              (click)="deleteBackgroundImage(persona.backImg)"
            >
              Borrar
            </button>
            <button
              id="saveBackImgButton"
              class="btn btn-primary fw-bold"
              [disabled]="!editBackgroundForm.valid"
              type="submit"
            >
              Guardar Foto
            </button>
          </div>
        </form>

        <!-- End Edit Form -->
      </div>
    </div>
  </div>
</div>
<!-- Fin Background Modal -->
