<div *ngIf="persona" class="card text-center mt-5 hero_container pb-4">
  <div class="hero_section"></div>
  <div class="d-flex profile_div ps-5">
    <img [src]="persona.profileImg" alt="" class="profile_image" />
    <div *ngIf="routeEdit">
      <a class="a_edit" data-bs-toggle="modal" data-bs-target="#editProfile"
        ><i class="fas fa-pen" data-title="Editar"></i
      ></a>
    </div>
  </div>

  <!-- Perfil -->
  <div class="d-flex flex-column align-items-start ps-5">
    <h1 class="mb-0 text-light">
      {{ persona?.firstName + " " + persona?.lastName }}
    </h1>
    <div class="d-flex">
      <span class="text_lightblue">{{ persona?.position }}</span>
    </div>
    <div>
      <span class="text-light">{{ persona?.location }}</span>
    </div>
  </div>
</div>

<!-- Acerca de -->
<div class="card text-center mt-2 py-4">
  <div class="d-flex flex-column align-items-start ps-5">
    <h2 class="mb-0">Acerca de</h2>
    <div class="d-flex">
      <span class="">{{ persona?.aboutMe }}</span>
    </div>
  </div>
</div>

<!-- Perfil Modal -->
<div
  *ngIf="persona"
  class="modal fade border-0"
  id="editProfile"
  data-bs-backdrop="static"
  data-bs-keyboard="true"
  tabindex="-1"
  aria-labelledby="editProfileLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header">
        <h4 class="modal-title" id="editProfileLabel">Editar Perfil</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Perfil Form -->

        <form #profileForm="ngForm" (ngSubmit)="onUpdate()" novalidate>
          <div class="row">
            <div class="form-group col">
              <label class="d-none" for="firstName"></label>
              <input
                type="text"
                name="firstName"
                id="firstName"
                class="form-control mt-0"
                placeholder="Nombre"
                [(ngModel)]="editPersona.firstName"
                required
              />
            </div>
            <div class="form-group col">
              <label class="d-none" for="lastName"></label>
              <input
                type="text"
                name="lastName"
                id="lastName"
                placeholder="Apellido"
                class="form-control"
                [(ngModel)]="editPersona.lastName"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label class="d-none" for="position"></label>
            <input
              type="text"
              name="position"
              id="position"
              placeholder="Ocupación/Título Ej: Programador Web"
              class="form-control mt-2"
              [(ngModel)]="editPersona.position"
              required
            />
          </div>

          <div class="form-group">
            <label class="d-none" for="location"></label>
            <input
              type="text"
              name="location"
              id="location"
              placeholder="Ubicación"
              class="form-control mt-2"
              [(ngModel)]="editPersona.location"
              required
            />
          </div>

          <div class="form-group">
            <label class="d-none" for="aboutMe"></label>
            <textarea
              name="aboutMe"
              id="aboutMe"
              rows="2"
              class="form-control mt-2"
              placeholder="Acerca de tí"
              maxlength="255"
              [(ngModel)]="editPersona.aboutMe"
            ></textarea>
          </div>

          <div class="">
            <label for="formFileSm" class="form-label mt-3 mb-0 ms-1"
              >Agrega una foto de perfil</label
            >
            <input
              class="form-control form-control-sm"
              id="formFileSm"
              type="file"
              [(ngModel)]="backImg"
              name="backImg"
            />
          </div>

          <div class="">
            <label for="formFileSm" class="form-label mt-3 mb-0 ms-1"
              >Agrega una foto de portada</label
            >
            <input
              class="form-control form-control-sm"
              id="formFileSm"
              type="file"
              [(ngModel)]="profileImg"
              name="profileImg"
            />
          </div>

          <div class="modal-footer border-0 mt-1">
            <button
              class="btn btn-primary fw-bold"
              data-bs-dismiss="modal"
              [disabled]="!profileForm.valid"
              type="submit"
            >
              Guardar
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>

        <!-- End Perfil Form -->
      </div>
    </div>
  </div>
</div>
