<div class="container-md d-flex mt-5 flex-column align-items-center pt-4">
  <h1>
    Bienvenid@ a "<span class="text-decoration-underline">Mi Portfolio</span>"
  </h1>
  <h4><a routerLink="/login">Registrate</a> para crear tu portfolio</h4>
  <hr class="bg-primary" />
  <h5 class="align-self-start text-decoration-none ms-4">
    O visita los perfiles destacados:
  </h5>

  <!-- carousel -->

  <div
    *ngIf="username.length > 0; else loadingCarousel"
    id="carouselProfiles"
    class="carousel slide carousel-fade mt-3 profiles_size container-xxl"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselProfiles"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselProfiles"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselProfiles"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner rounded-3">
      <ng-container *ngFor="let persona of personas; let i = index">
        <div
          class="carousel-item"
          data-bs-interval="5000"
          *ngIf="i < 3"
          [ngClass]="{ active: i == 0 }"
        >
          <img
            [src]="persona.backImg"
            class="d-block w-100 profiles_size"
            alt="..."
          />
          <div class="profiles_size profile_image_container">
            <a
              class="profile_link"
              [routerLink]="'/portfolio/' + username[i]"
            ></a
            ><img [src]="persona.profileImg" class="profile_image" alt="..." />
          </div>
          <div
            class="carousel-caption d-none d-md-block text-black bg-white bg-opacity-100 rounded-3"
          >
            <a class="username_link" [routerLink]="'/portfolio/' + username[i]">
              <h5>{{ persona.firstName }} {{ persona.lastName }}</h5></a
            >
            <p>
              {{ persona.position }}
            </p>
          </div>
        </div>
      </ng-container>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselProfiles"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselProfiles"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- end carousel -->
  <ng-template #loadingCarousel>
    <div
      class="d-flex justify-content-center align-content-center mx-auto mt-5 pt-5"
    >
      <div class="spinner-border text-primary" role="status"></div>
      <span class="ms-2">Cargando...</span>
    </div>
  </ng-template>
</div>
