.profiles_size {
  height: 450px;
  width: inherit;
  top: 3%;
}

.profile_image {
  pointer-events: none;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  top: 3%;
  right: 44%;
  border: solid 5px white;
}

.profile_image_container {
  position: absolute;
  bottom: 0% !important;
  text-align: center;
}

.carousel-caption {
  margin-bottom: 2%;
}

.profile_link {
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  height: 160px;
  width: 160px;
}

.profile_link:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.carousel-caption {
  padding-right: 4% !important;
  padding-left: 4% !important;
  margin-right: 10%;
  margin-left: 10%;
  bottom: 3rem !important;
  padding-bottom: 0 !important;
  border-radius: 10px 50px 10px 50px !important;
  -moz-border-radius: 10px 50px 10px 50px !important;
  -webkit-border-radius: 10px 50px 10px 50px !important;
  border: 1px solid #000;
  //background: radial-gradient(circle farthest-side, #e6e5e5, #c5b6c4ad);
}

a {
  color: #268f26;
}

a:hover {
  color: #1dc91d;
}

.username_link:hover {
  color: #3921a5cb;
}

.username_link {
  color: #262d8f;
  text-decoration: underline;
  display: inline-block;
}

@media screen and (max-width: 760px) {
  .profiles_size {
    width: inherit;
    top: 5%;
    height: 220px;
  }
}
