<app-header></app-header>
<div class="container-md d-flex mt-5 flex-column align-items-center pt-4">
  <h1>
    Bienvenido a "<span class="text-decoration-underline">Mi Portfolio</span>"
  </h1>
  <h4>Inicia sesión para crear tu portfolio</h4>
  <hr class="bg-primary" />
  <h5 class="align-self-start text-decoration-underline ms-4">
    O visita los perfiles destacados:
  </h5>
  <div class="container-fluid">
    <div class="mt-4 d-flex flex-row flex-wrap justify-content-around">
      <div>
        <h5 class="text-center">Diegote 86</h5>
        <img
          height="450px"
          width="350"
          src="../../../assets/images/default-project.jpg"
          alt=""
          class="border-5 border-warning rounded-3"
        />
      </div>
      <div>
        <h5 class="text-center">Leo Gilli</h5>
        <img
          height="450px"
          width="350"
          src="../../../assets/images/default-project.jpg"
          alt=""
          class="border-5 border-warning rounded-3"
        />
      </div>
      <div>
        <h5 class="text-center">El Manu de la people</h5>
        <img
          height="450px"
          width="350"
          src="../../../assets/images/default-project.jpg"
          alt=""
          class="border-5 border-warning rounded-3"
        />
      </div>
    </div>
  </div>
</div>
