<app-header></app-header>
<!-- Password Recovery -->

<div class="password_recovery_form">
  <h5 class="pt-3 ps-3">Introduce una nueva contraseña</h5>
  <hr class="block" />
  <form
    #passRecoveryForm="ngForm"
    (ngSubmit)="onChangePassword(); (changePassButton.disabled)"
    novalidate
  >
    <p class="mb-0 ps-3">Nueva contraseña:</p>
    <div class="form-group px-3">
      <input
        [class.is-invalid]="
          password.invalid && (password.dirty || password.touched)
        "
        [class.is-valid]="password.valid"
        placeholder="Contraseña"
        type="password"
        name="password"
        id="password"
        class="form-control"
        [(ngModel)]="newPassword"
        #password="ngModel"
        [pattern]="passPattern"
        required
      />
      <div
        *ngIf="password.invalid && password.dirty"
        class="alert alert-danger p-1 m-0 mt-2"
      >
        <div *ngIf="password.errors?.['pattern'] || password.dirty">
          La contraseña debe contener al menos 6 caracteres, 1 minúscula, 1
          mayúscula y 1 número.
        </div>
      </div>
    </div>
    <p class="mt-2 mb-0 ps-3">Repite la contraseña:</p>
    <div class="form-group px-3">
      <input
        [class.is-invalid]="
          confPassword.value !== password.value && confPassword.dirty
        "
        [class.is-valid]="password.valid"
        placeholder="Repite la contraseña"
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        class="form-control"
        [(ngModel)]="confirmPassword"
        #confPassword="ngModel"
        [pattern]="passPattern"
        required
      />
      <div
        *ngIf="confPassword.value !== password.value && confPassword.dirty"
        class="alert alert-danger p-1 m-0 mt-2"
      >
        <div
          *ngIf="confPassword.value !== password.value && confPassword.dirty"
        >
          Las contraseñas no coinciden!
        </div>
      </div>
    </div>
    <hr />
    <div class="pb-3 px-2">
      <div class="form-group d-flex justify-content-end">
        <button
          #changePassButton
          type="submit"
          class="btn btn-primary px-3"
          [disabled]="
            !passRecoveryForm.valid || confPassword.value !== password.value
          "
        >
          Cambiar contraseña
        </button>
      </div>
    </div>
  </form>
</div>

<div
  *ngIf="msgSuccess"
  class="message alert alert-success d-flex flex-row align-items-center"
>
  <div class="spinner-border text-success me-2" role="status"></div>
  <div>
    <p class="mb-0">{{ msgSuccess }}</p>
    <p class="mb-0">Aguarda serás redirigido al login...</p>
  </div>
</div>

<div *ngIf="msgFail" class="message alert alert-danger">
  <p class="mb-0">Error:</p>
  <p class="mb-0">{{ msgFail }}</p>
</div>
