<app-header></app-header>
<div class="profile_form">
  <h2 class="text-center">Creemos tu perfil</h2>
  <div
    class="d-flex flex-wrap justify-content-between align-items-center py-2 border-top"
  ></div>
  <form #profileForm="ngForm" (ngSubmit)="onCreate()" novalidate>
    <div class="row">
      <div class="form-group col">
        <label class="d-none" for="firstName"></label>
        <input
          type="text"
          name="firstName"
          id="firstName"
          class="form-control mt-0"
          placeholder="Nombre"
          [(ngModel)]="firstName"
          required
        />
      </div>
      <div class="form-group col">
        <label class="d-none" for="lastName"></label>
        <input
          type="text"
          name="lastName"
          id="lastName"
          placeholder="Apellido"
          class="form-control"
          [(ngModel)]="lastName"
          required
        />
      </div>
    </div>

    <div class="form-group">
      <div class="mt-2 fs-6 fw-light">Fecha de nacimiento</div>
      <label class="d-none" for="birthday"></label>
      <input
        type="date"
        [max]="minBirthday"
        name="birthday"
        id="birthday"
        placeholder="Fecha De Nacimiento"
        class="form-control"
        [(ngModel)]="birthday"
        required
      />
    </div>

    <div class="form-group">
      <label class="d-none" for="position"></label>
      <input
        type="text"
        name="position"
        id="position"
        placeholder="Ocupación/Título Ej: Programador Web"
        class="form-control mt-2"
        [(ngModel)]="position"
        required
      />
    </div>

    <div class="form-group">
      <label class="d-none" for="location"></label>
      <input
        type="text"
        name="location"
        id="location"
        placeholder="Ubicación"
        class="form-control mt-2"
        [(ngModel)]="location"
        required
      />
    </div>

    <div class="form-group">
      <label class="d-none" for="aboutMe"></label>
      <textarea
        #aboutMe
        name="aboutMe"
        id="aboutMe"
        rows="3"
        class="form-control mt-2"
        placeholder="Acerca de tí"
        maxlength="500"
        [(ngModel)]="aboutMeNew"
        [class.is_max_warning]="aboutMe.value.length > 499"
      ></textarea>
      <div class="d-flex justify-content-end">
        <span class="text-secondary">{{ aboutMe.value.length }}/500</span>
      </div>
      <div
        *ngIf="aboutMe.value.length > 499"
        class="d-flex justify-content-start"
      >
        <span class="alert alert-warning"
          >Has alcanzado el límite de caracteres</span
        >
      </div>
    </div>

    <div class="form-group d-grid mt-3">
      <button
        class="btn btn-primary fw-bold"
        [disabled]="!profileForm.valid"
        type="submit"
      >
        Crear Perfil
      </button>
    </div>
  </form>
</div>
