<div class="card mt-2 py-4 px-5">
  <div id="education">
    <div class="d-flex">
      <h2 class="flex-grow-1 flex-shrink-1 m-auto">Educación</h2>
      <div *ngIf="router.url === '/edit'" class="d-flex align-self-center">
        <a href="#education" class="d-flex align-self-end a_icon"
          ><i
            class="fa fa-plus"
            data-title="Agregar"
            onclick="showNewExpModal()"
          ></i
        ></a>
      </div>
    </div>
    <div>
      <ul class="items-list" id="eduList">
        <li class="d-flex my-2">
          <div class="flex-grow-1">
            <div class="d-flex">
              <div class="my-3">
                <img
                  id="edu-img"
                  class="logo_image"
                  src="../../../assets/images/APLogo-20-20.png"
                />
              </div>
              <div class="mx-3">
                <div>
                  <h3 class="mx-2 my-2" id="edu-school">Argentina Programa</h3>
                  <p class="ms-2 mb-0">
                    <span id="edu-title">Programador Web Full Stack</span
                    ><span> - </span
                    ><span id="edu-career">Angular + Java + MySQLgit</span>
                  </p>
                  <p class="ms-2 text-secondary my-0">
                    <span id="edu-start">2021</span><span> – </span
                    ><span id="edu-end">2022</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="router.url === '/edit'" class="data-control">
            <div class="">
              <a href="#experience" class="a_icon"
                ><i
                  class="fa fa-pen"
                  data-title="Editar"
                  onclick="showEditExpModal('Pixar')"
                ></i
              ></a>
            </div>
            <div class="">
              <a href="#experience" class="a_icon"
                ><i
                  class="fa fa-trash"
                  data-title="Borrar"
                  onclick="deleteExp('Pixar')"
                ></i
              ></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
