<div class="card container-sm mt-2 py-4 mb-3 ps-4">
  <div id="projects">
    <div class="d-flex">
      <h4 class="flex-grow-1 flex-shrink-1 m-auto">Proyectos</h4>
      <div
        *ngIf="routeEdit && projectsPlaceholder === 'loaded'"
        class="d-flex align-self-center"
      >
        <a class="d-flex align-self-end a_icon"
          ><i
            class="fa fa-plus"
            data-title="Agregar"
            data-bs-toggle="modal"
            data-bs-target="#newProjectModal"
          ></i
        ></a>
      </div>
    </div>
    <div>
      <div *ngIf="projectsPlaceholder === 'loaded'; else projPlaceholder">
        <ul
          class="items-list d-flex flex-wrap justify-content-around"
          id="projectList"
        >
          <li
            *ngFor="let project of projects"
            class="d-flex project_container mb-1"
          >
            <div class="flex-grow-1">
              <div class="d-flex flex-column">
                <div class="my-3 text-center">
                  <div *ngIf="routeEdit" class="position-absolute">
                    <a class="a_icon"
                      ><i
                        class="fa-solid fa-camera"
                        data-title="Editar imagen"
                        data-bs-toggle="modal"
                        data-bs-target="#editProjectImageModal"
                        (click)="editableProject(project.id!)"
                      ></i
                    ></a>
                  </div>
                  <img
                    *ngIf="!project.projectImg; else projectCustomImg"
                    id="projectImg"
                    class="project_image"
                    src="../../../assets/images/default-project.jpg"
                  />
                  <ng-template #projectCustomImg>
                    <img
                      [src]="project.projectImg"
                      alt=""
                      class="project_image"
                    />
                  </ng-template>
                </div>
                <div class="mx-3">
                  <div class="d-flex flex-column align-items-center">
                    <h4 class="mx-2 my-2" id="project-name">
                      {{ project.name }}
                    </h4>
                    <div class="d-flex mb-0 projects_techs">
                      <span
                        id="project-description"
                        class="project_description"
                        >{{ project.description }}</span
                      >
                    </div>
                    <p class="ms-2 text-secondary mb-0 mt-1">
                      <span id="project-start">{{ project.startTime }}</span
                      ><span> – </span
                      ><span id="project-end">{{ project.endTime }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="routeEdit" class="data-control edit_icons">
              <div class="mt-3">
                <a class="a_icon"
                  ><i
                    class="fa-solid fa-pen-clip"
                    data-title="Editar"
                    data-bs-toggle="modal"
                    data-bs-target="#editProjectModal"
                    (click)="editableProject(project.id!)"
                  ></i
                ></a>
              </div>
              <div class="">
                <a class="a_icon"
                  ><i
                    class="fa-solid fa-trash-can"
                    data-title="Borrar"
                    (click)="onDelete(project.id!, project.projectImg)"
                  ></i
                ></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- skill loading template -->
      <ng-template #projPlaceholder>
        <div class="d-flex justify-content-center align-content-center mx-auto">
          <div class="spinner-border text-primary" role="status"></div>
          <span class="ms-2">Cargando...</span>
        </div>
      </ng-template>
      <!-- end skill loading template -->
    </div>
  </div>
</div>

<!-- New Project Modal -->
<div
  *ngIf="projects"
  class="modal fade border-0"
  id="newProjectModal"
  data-bs-backdrop="static"
  data-bs-keyboard="true"
  (keydown.escape)="newProjectForm.reset()"
  tabindex="-1"
  aria-labelledby="newProjectModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header">
        <h5 class="modal-title" id="newProjectModalLabel">Nuevo Proyecto</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="newProjectForm.reset()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- New Project Form -->

        <form
          #newProjectForm="ngForm"
          (ngSubmit)="onCreate(); newProjectForm.reset()"
          novalidate
        >
          <div class="form-group col">
            <label class="text-secondary" for="name">Nombre</label>
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              placeholder="Nombre del proyecto"
              [(ngModel)]="name"
              required
            />
          </div>

          <div class="form-group">
            <label class="text-secondary" for="description">Descripción</label>
            <textarea
              #ProjectDescription
              name="description"
              id="description"
              rows="3"
              class="form-control"
              placeholder="Breve descripción del proyecto"
              maxlength="255"
              [(ngModel)]="description"
              [class.is_max_warning]="ProjectDescription.value.length > 254"
              required
            ></textarea>
            <div class="d-flex justify-content-end">
              <span class="text-secondary"
                >{{ ProjectDescription.value.length }}/255</span
              >
            </div>
            <div
              *ngIf="ProjectDescription.value.length > 254"
              class="d-flex justify-content-start"
            >
              <span class="alert alert-warning"
                >Has alcanzado el límite de caracteres</span
              >
            </div>
          </div>

          <div class="row mt-2">
            <div class="form-group col">
              <label class="text-secondary" for="startTime">Fecha Inicio</label>
              <input
                #startTimeNew
                type="month"
                min="1925-01"
                max="2022-03"
                name="startTime"
                id="startTime"
                class="form-control"
                [(ngModel)]="startTime"
                required
              />
            </div>
            <div class="form-group col">
              <label class="text-secondary" for="endTime">Fecha Fin</label>
              <input
                #endTimeNew="ngModel"
                type="month"
                [min]="startTimeNew.value"
                max="2022-03"
                name="endTime"
                id="endTime"
                class="form-control"
                [(ngModel)]="endTime"
                [class.is-invalid]="
                  startTimeNew.value > endTimeNew.value && endTimeNew.dirty
                "
                required
              />
              <div
                *ngIf="
                  startTimeNew.value > endTimeNew.value && endTimeNew.dirty
                "
                class="alert alert-danger p-1 m-0"
              >
                <div>La fecha final debe ser mayor a la inicial.</div>
              </div>
            </div>
          </div>

          <div class="modal-footer border-0 mb-0">
            <button
              class="btn btn-outline-primary fw-bold rounded-pill"
              [disabled]="
                !newProjectForm.valid || startTimeNew.value > endTimeNew.value
              "
              type="submit"
              data-bs-dismiss="modal"
            >
              Guardar
            </button>
          </div>
        </form>

        <!-- End New Form -->
      </div>
    </div>
  </div>
</div>
<!-- End New Project Modal -->

<!-- Edit Project Modal -->
<div
  *ngIf="projects[0]"
  class="modal fade border-0"
  id="editProjectModal"
  data-bs-backdrop="static"
  data-bs-keyboard="true"
  tabindex="-1"
  aria-labelledby="editProjectModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header">
        <h5 class="modal-title" id="editProjectModalLabel">Editar Proyecto</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Edit Project Form -->

        <form
          *ngIf="editProject"
          #editProjectForm="ngForm"
          (ngSubmit)="onUpdate()"
          novalidate
        >
          <div class="form-group col">
            <label class="text-secondary" for="name">Nombre del proyecto</label>
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              placeholder="Nombre del proyecto"
              [(ngModel)]="editProject.name"
              required
            />
          </div>

          <div class="form-group">
            <label class="text-secondary" for="description">Descripción</label>
            <textarea
              #ProjectDescription
              name="description"
              id="description"
              rows="3"
              class="form-control"
              placeholder="Breve descripción del proyecto"
              maxlength="255"
              [(ngModel)]="editProject.description"
              [class.is_max_warning]="ProjectDescription.value.length > 254"
              required
            ></textarea>
            <div class="d-flex justify-content-end">
              <span class="text-secondary"
                >{{ ProjectDescription.value.length }}/255</span
              >
            </div>
            <div
              *ngIf="ProjectDescription.value.length > 254"
              class="d-flex justify-content-start"
            >
              <span class="alert alert-warning"
                >Has alcanzado el límite de caracteres</span
              >
            </div>
          </div>

          <div class="row">
            <div class="form-group col">
              <label class="text-secondary" for="startTime">Fecha Inicio</label>
              <input
                #startTimeEdit
                type="month"
                min="1925-01"
                max="2022-03"
                name="startTime"
                id="startTime"
                class="form-control"
                [(ngModel)]="editProject.startTime"
                required
              />
            </div>
            <div class="form-group col">
              <label class="text-secondary" for="endTime">Fecha Fin</label>
              <input
                #endTimeEdit="ngModel"
                type="month"
                [min]="startTimeEdit.value"
                max="2022-03"
                name="endTime"
                id="endTime"
                class="form-control"
                [(ngModel)]="editProject.endTime"
                [class.is-invalid]="
                  startTimeEdit.value > endTimeEdit.value && endTimeEdit.dirty
                "
                required
              />
              <div
                *ngIf="
                  startTimeEdit.value > endTimeEdit.value && endTimeEdit.dirty
                "
                class="alert alert-danger p-1 m-0"
              >
                <div>La fecha final debe ser mayor a la inicial.</div>
              </div>
            </div>
          </div>

          <div class="modal-footer border-0 mb-0">
            <button
              class="btn btn-outline-primary fw-bold rounded-pill"
              data-bs-dismiss="modal"
              [disabled]="
                !editProjectForm.valid ||
                startTimeEdit.value > endTimeEdit.value
              "
              type="submit"
            >
              Guardar
            </button>
          </div>
        </form>

        <!-- End Edit Form -->
      </div>
    </div>
  </div>
</div>
<!-- End Edit Project Modal -->

<!-- Edit Project Image Modal -->
<div
  *ngIf="projects[0]"
  class="modal fade border-0"
  id="editProjectImageModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="editProjectImageModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content border-0">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="editProjectImageModalLabel">
          Editar Imagen
        </h5>
        <button
          [disabled]="uploadProgress[0] > 0"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="editProjectImageForm.reset()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Edit Form -->

        <div
          *ngIf="editProject"
          id="editProjectImage"
          class="d-flex justify-content-center"
        >
          <img
            *ngIf="!editProject.projectImg; else projectImg"
            class="project_image"
            src="../../../assets/images/default-project.jpg"
          />
          <ng-template #projectImg>
            <img class="project_image" [src]="editProject.projectImg" />
          </ng-template>
        </div>

        <form
          #editProjectImageForm="ngForm"
          (ngSubmit)="onProjectImgUpdate(editProject.projectImg)"
          novalidate
        >
          <div class="">
            <label for="formFileSm" class="form-label mt-3 mb-0 ms-1"
              >Carga una imagen nueva.</label
            >
            <input
              #projectImage
              class="form-control form-control-sm"
              id="formFileSm"
              type="file"
              name="projectImg"
              (change)="projectImgListener($event)"
              accept=".png,.jpg,.jpeg"
              [ngModel]=""
              required
            />
            <div *ngIf="projectImage.value.length > 0">
              <span class="text-danger fs-6 ms-1 mt-1">Aviso: </span>
              <span class="fs-6">La imagen actual sera reemplazada!</span>
            </div>
          </div>

          <div *ngIf="uploadProgress.length > 0">
            <div>
              <div class="progress mt-2">
                <div
                  class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                  role="progressbar"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: uploadProgress[0] + '%' }"
                  attr.aria-valuenow="{{ uploadProgress[0] }}"
                ></div>
              </div>
            </div>
          </div>

          <div
            *ngIf="editProject"
            class="modal-footer border-secondary mt-3 mb-0"
          >
            <button
              id="deleteProjectImgButton"
              type="button"
              *ngIf="editProject.projectImg"
              class="btn btn-outline-danger fw-bold rounded-pill"
              [disabled]="!editProject.projectImg"
              (click)="
                deleteProjectImage(editProject.id!, editProject.projectImg)
              "
            >
              Borrar
            </button>
            <button
              id="saveProjectImgButton"
              class="btn btn-outline-primary fw-bold rounded-pill"
              [disabled]="!(projectImage.value.length > 0)"
              type="submit"
            >
              Guardar
            </button>
          </div>
        </form>

        <!-- End Edit Form -->
      </div>
    </div>
  </div>
</div>
<!-- Fin Project Image Modal -->
