<div class="card container-sm mt-2 py-4 px-4">
  <div id="skills">
    <div class="d-flex">
      <h4 class="flex-grow-1 flex-shrink-1 m-auto">Hard & Soft Skills</h4>
      <div *ngIf="routeEdit" class="add_skill">
        <button
          class="skill_button"
          id="newSkill"
          type="button"
          [disabled]="false"
          (click)="createSkill()"
        >
          Agregar Skill
        </button>
        <div id="maxSkillsReached" style="display: none">
          <p class="text-danger">Numero maximo de skills alcanzado (6)</p>
        </div>
      </div>
    </div>
  </div>
  <div id="startSkills">
    <ng-container *ngIf="routeEdit; else inicioTemplate">
      <div class="skill_container" *ngFor="let skill of skills" [id]="skill.id">
        <p *ngIf="skillForm.dirty" class="text-danger">No olvides guardar!</p>
        <div class="skill_title_container">
          <input
            class="skill_edit_title"
            type="text"
            [(ngModel)]="skill.title"
          />
        </div>
        <div class="progress-wrapper">
          <div class="current" [ngStyle]="getOverlayStyle(skill.id!)">
            {{ skill.current }}%
          </div>
          <round-progress
            [current]="skill.current"
            [max]="skill.max"
            [semicircle]="skill.semicircle"
            [radius]="skill.radius"
            [color]="skill.color"
            [background]="skill.background"
            [stroke]="skill.stroke"
            [rounded]="skill.rounded"
            [clockwise]="skill.clockwise"
            [duration]="skill.duration"
            [animation]="skill.animation"
            [animationDelay]="skill.animationDelay"
          ></round-progress>
        </div>

        <div>
          <button
            class="skill_button"
            (click)="increment(skill); skillForm.form.markAsDirty()"
          >
            Incrementar
          </button>
          <button
            class="skill_button"
            (click)="decrement(skill); skillForm.form.markAsDirty()"
          >
            Reducir
          </button>
        </div>
        <div>
          <button
            class="skill_button"
            (click)="increment(skill, 10); skillForm.form.markAsDirty()"
          >
            Incrementar (10)
          </button>
          <button
            class="skill_button"
            (click)="decrement(skill, 10); skillForm.form.markAsDirty()"
          >
            Reducir (10)
          </button>
        </div>

        <form #skillForm="ngForm" class="skill_form">
          <h3>Customize!</h3>

          <div class="cf">
            <label for="semicircle">Semicircle:</label>
            <input
              class="skill_input"
              id="semicircle"
              name="semicircle"
              type="checkbox"
              [(ngModel)]="skill.semicircle"
            />
          </div>

          <div class="cf">
            <label for="rounded">Rounded:</label>
            <input
              class="skill_input"
              id="rounded"
              name="rounded"
              type="checkbox"
              [(ngModel)]="skill.rounded"
            />
          </div>

          <div class="cf">
            <label for="clockwise">Clockwise:</label>
            <input
              class="skill_input"
              id="clockwise"
              name="clockwise"
              type="checkbox"
              [(ngModel)]="skill.clockwise"
            />
          </div>

          <div class="cf">
            <label for="current">Current:</label>
            <input
              class="skill_input"
              id="current"
              name="current"
              type="number"
              [(ngModel)]="skill.current"
            />
          </div>

          <div class="cf">
            <label for="stroke">Stroke:</label>
            <input
              class="skill_input"
              id="stroke"
              name="stroke"
              type="number"
              [(ngModel)]="skill.stroke"
            />
          </div>

          <div class="cf">
            <label for="radius">Radius:</label>
            <input
              class="skill_input"
              id="radius"
              name="radius"
              type="number"
              [(ngModel)]="skill.radius"
            />
          </div>

          <div class="cf">
            <label for="duration">Duration:</label>
            <input
              class="skill_input"
              id="duration"
              name="duration"
              type="number"
              [(ngModel)]="skill.duration"
            />
          </div>

          <div class="cf">
            <label for="animationDelay">Animation delay:</label>
            <input
              class="skill_input"
              id="animationDelay"
              name="animationDelay"
              type="number"
              [(ngModel)]="skill.animationDelay"
            />
          </div>

          <div class="cf">
            <label for="color">Color:</label>
            <input
              class="skill_input"
              id="color"
              name="color"
              type="color"
              [(ngModel)]="skill.color"
            />
          </div>

          <div class="cf">
            <label for="background">Background color:</label>
            <input
              class="skill_input"
              id="background"
              name="background"
              type="color"
              [(ngModel)]="skill.background"
            />
          </div>

          <div class="button_container">
            <button
              class="skill_button"
              [id]="'saveButton' + skill.id"
              [disabled]="false"
              (click)="saveCircle(skill); skillForm.form.markAsPristine()"
            >
              Guardar
            </button>
            <button
              class="skill_button"
              [id]="'deleteButton' + skill.id"
              (click)="deleteSkill(skill)"
            >
              Borrar
            </button>
          </div>
        </form>
      </div>
    </ng-container>
    <ng-template #inicioTemplate>
      <div
        class="skill_container_portfolio"
        *ngFor="let skill of skills"
        id="{{ skill.id }}"
      >
        <h2>{{ skill.title }}</h2>
        <div class="progress-wrapper">
          <div class="current" [ngStyle]="getOverlayStyle(skill.id!)">
            {{ skill.current }}%
          </div>
          <round-progress
            [current]="skill.current"
            [max]="skill.max"
            [semicircle]="skill.semicircle"
            [radius]="skill.radius"
            [color]="skill.color"
            [background]="skill.background"
            [stroke]="skill.stroke"
            [rounded]="skill.rounded"
            [clockwise]="skill.clockwise"
            [duration]="skill.duration"
            [animation]="skill.animation"
            [animationDelay]="skill.animationDelay"
          ></round-progress>
        </div>
      </div>
    </ng-template>
  </div>
</div>
