@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  background-color: #f0f2f5;
}

.card {
  border-radius: 0.5rem !important;
}

.container-sm {
  max-width: 1200px;
}

.skill_title_container {
  display: inline-flex;
  width: auto;
}

.skill_edit_title {
  text-align: center;
  font-size: 25px;
  width: auto;
  max-width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  color: #45ccce;
  position: sticky;
  top: 0%;
  z-index: 999;
}

.add_skill {
  display: flex;
  flex-direction: column;
  margin: 0 10px 10px;
  align-items: center;
}

.progress-wrapper {
  position: relative;
  margin: 20px auto;
  font-size: 40px;
}

.current {
  position: absolute;
  color: #bbb;
  font-weight: 100;
  line-height: 1;
}

.skill_container {
  width: 100%;
  max-width: 450px;
  min-width: 360px;
  margin: 10px 5px;
  padding: 25px 0px 0px;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.01);
  border-radius: 0.25rem;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all ease-in 0.1s;
  -o-transition: all ease-in 0.1s;
}

.skill_container:hover {
  box-shadow: 0 0 17px 0 hsl(0deg 0% 42% / 30%);
  transform: translateY(-2px);
}

.skill_container_portfolio {
  width: 100%;
  max-width: 280px;
  min-width: 200px;
  margin: 10px 25px;
  padding: 25px 0px;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.01);
  border-radius: 0.25rem;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all ease-in 0.1s;
  -o-transition: all ease-in 0.1s;
}

.skill_container_portfolio:hover {
  box-shadow: 0 0 17px 0 hsl(0deg 0% 42% / 30%);
  transform: translateY(-2px);
}

round-progress {
  margin: auto;
}

.button_container {
  display: flex;
  flex-direction: column;
}

.closing {
  animation: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-name: closing;
  animation-duration: 500ms;
}

@keyframes closing {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.skill_form {
  text-align: left;
  max-width: 350px;
  margin: 30px auto;
}

.skill_form > div {
  margin-bottom: 10px;
}

.skill_input {
  float: right;
  width: 120px;
}

.skill_input[type="checkbox"] {
  width: auto;
}

.skill_input[type="color"] {
  height: 30px;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 5px transparent;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #909090;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
}

.btn_success {
  background-color: #42b72a;
  color: white;
  font-weight: 500;
}

.btn_success:hover {
  color: white;
  background-color: #36a420;
}
