<div class="card container-sm mt-2 py-4 ps-4">
  <div id="experience">
    <div class="d-flex">
      <h4 class="flex-grow-1">Experiencia</h4>
      <div *ngIf="routeEdit" class="d-flex">
        <a class="d-flex a_icon align-self-end me-1"
          ><i
            class="fa fa-plus"
            data-title="Agregar"
            data-bs-toggle="modal"
            data-bs-target="#newExpModal"
          ></i
        ></a>
      </div>
    </div>
    <div>
      <ul class="items-list" id="expList">
        <li
          *ngFor="let exp of experiences; let i = index"
          class="d-flex mt-2 mb-4"
        >
          <div class="flex-grow-1">
            <div class="d-flex">
              <div class="my-1">
                <img
                  id="exp-img"
                  class="logo_image"
                  [src]="exp.img"
                  onerror="this.src='../../../assets/images/office.jpg';"
                />
              </div>
              <div class="mx-1">
                <div>
                  <h5 class="mx-2 my-0" id="exp-position">
                    {{ exp.position }}
                  </h5>
                  <p class="ms-2 mb-0">
                    <span id="exp-company">{{ exp.company }}</span
                    ><span> - </span><span id="exp-mode">{{ exp.mode }}</span>
                  </p>
                  <h6 class="ms-2 text-secondary my-0">
                    <span id="exp-start">{{ startTimeFormatted[i] }}</span
                    ><span> – </span
                    ><span
                      *ngIf="endTimeFormatted[i]; else actuality"
                      id="exp-end"
                      >{{ endTimeFormatted[i] }}</span
                    ><ng-template #actuality>actualidad</ng-template
                    ><span> – </span
                    ><span id="exp-time">{{ exp.timeAtPosition }}</span>
                  </h6>
                  <h6 class="ms-2 text-secondary my-0" id="exp-location">
                    {{ exp.location }}
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="routeEdit" class="data-control">
            <div class="">
              <a class="a_icon"
                ><i
                  class="fa-solid fa-pen-clip me-1"
                  data-title="Editar"
                  data-bs-toggle="modal"
                  data-bs-target="#editExpModal"
                  (click)="editableExperience(exp.id!)"
                ></i
              ></a>
            </div>
            <div class="">
              <a class="a_icon"
                ><i
                  class="fa-solid fa-trash-can"
                  data-title="Borrar"
                  (click)="onDelete(exp.id!)"
                ></i
              ></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- New Experience Modal -->
<div
  *ngIf="experiences"
  class="modal fade border-0"
  id="newExpModal"
  data-bs-backdrop="static"
  data-bs-keyboard="true"
  (keydown.escape)="newExpForm.reset(); actualidad.checked = false"
  tabindex="-1"
  aria-labelledby="newExpModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header">
        <h5 class="modal-title" id="newExpModalLabel">Nueva Experiencia</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="newExpForm.reset(); actualidad.checked = false"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- New Exp Form -->

        <form
          #newExpForm="ngForm"
          (ngSubmit)="onCreate(); newExpForm.reset()"
          novalidate
        >
          <div class="form-group col">
            <label class="text-secondary" for="position">Cargo</label>
            <input
              type="text"
              name="position"
              id="position"
              class="form-control"
              placeholder="Ej: Java Back End developer"
              [(ngModel)]="position"
              required
            />
          </div>

          <div class="form-group col mt-1">
            <label class="text-secondary" for="company">Empresa</label>
            <input
              type="text"
              name="company"
              id="company"
              class="form-control"
              placeholder="Ej: Google"
              [(ngModel)]="company"
              required
            />
          </div>

          <div class="form-group col mt-1">
            <label class="text-secondary" for="mode">Tipo de empleo</label>
            <select
              class="form-select"
              aria-label="mode"
              required
              [(ngModel)]="mode"
              name="mode"
            >
              <option [ngValue]="" hidden disabled selected>
                Selecciona una opción
              </option>
              <option value="Full Time">Full Time</option>
              <option value="Part Time">Part Time</option>
              <option value="Freelancer">Freelancer</option>
              <option value="Dueño">Dueño</option>
              <option value="Emprendedor">Emprendedor</option>
            </select>
          </div>

          <div class="form-group col mt-1">
            <label class="text-secondary" for="location">Ubicación</label>
            <input
              type="text"
              name="location"
              id="location"
              class="form-control"
              placeholder="Ubicación"
              [(ngModel)]="location"
              required
            />
          </div>

          <div class="form-check mt-3">
            <input
              #actualidad
              class="form-check-input"
              type="checkbox"
              value="actualidadNew"
              id="endTimeNew"
              name="endTimeNew"
              (click)="isActualJob($event)"
              required
            />
            <label class="form-check-label" for="flexCheckDefault">
              Actualmente tengo este cargo
            </label>
          </div>

          <div class="form-group col mt-2">
            <label class="text-secondary" for="startTime">Fecha Inicio</label>
            <input
              type="month"
              min="1925-01"
              max="2022-03"
              name="startTime"
              id="startTime"
              class="form-control"
              placeholder="Fecha Inicio"
              [(ngModel)]="startTime"
              required
            />
          </div>

          <div *ngIf="!actualidad.checked" class="form-group col mt-2">
            <label class="text-secondary" for="endTime">Fecha Fin</label>
            <input
              type="month"
              min="1925-01"
              max="2022-03"
              name="endTime"
              id="endTime"
              class="form-control"
              placeholder="Fecha Fin/Actualidad"
              [(ngModel)]="endTime"
              required
            />
          </div>

          <div class="form-group col">
            <label class="form-label mt-3 mb-0 text-secondary ms-1" for="img"
              >Si lo desea, agregue una url de imagen descriptiva.</label
            >
            <input
              type="text"
              name="img"
              id="img"
              class="form-control"
              placeholder="Imagen descriptiva"
              [(ngModel)]="img"
            />
            <span class="text-secondary ms-1 fs-6"
              >Ej.:
              https://www.unl.edu.ar/wp-content/uploads/2018/05/cropped-favicon-300x300.png</span
            >
          </div>

          <div class="modal-footer border-0 mb-0">
            <button
              class="btn btn-outline-primary fw-bold rounded-pill"
              data-bs-dismiss="modal"
              [disabled]="!newExpForm.valid"
              type="submit"
            >
              Guardar
            </button>
          </div>
        </form>

        <!-- End New Form -->
      </div>
    </div>
  </div>
</div>
<!-- End New Experience Modal -->

<!-- Edit Experience Modal -->
<div
  *ngIf="experiences[0]"
  class="modal fade border-0"
  id="editExpModal"
  data-bs-backdrop="static"
  data-bs-keyboard="true"
  tabindex="-1"
  aria-labelledby="editExpModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header">
        <h5 class="modal-title" id="editExpModalLabel">Editar Experiencia</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Edit Exp Form -->

        <form
          *ngIf="editExperience"
          #editExpForm="ngForm"
          (ngSubmit)="onUpdate()"
          novalidate
        >
          <div class="form-group col">
            <label class="text-secondary" for="position">Posición</label>
            <input
              type="text"
              name="position"
              id="position"
              class="form-control"
              placeholder="Posición"
              [(ngModel)]="editExperience.position"
              required
            />
          </div>

          <div class="form-group col mt-1">
            <label class="text-secondary" for="company">Empresa</label>
            <input
              type="text"
              name="company"
              id="company"
              class="form-control"
              placeholder="Empresa"
              [(ngModel)]="editExperience.company"
              required
            />
          </div>

          <div class="form-group col mt-1">
            <label class="" for="mode">Tipo de empleo</label>
            <select
              class="form-select"
              aria-label="mode"
              required
              [(ngModel)]="editExperience.mode"
              name="editExperience.mode"
              aria-placeholder="Selecciona una opción"
            >
              <option value="Full Time">Full Time</option>
              <option value="Part Time">Part Time</option>
              <option value="Freelancer">Freelancer</option>
              <option value="Dueño">Dueño</option>
              <option value="Emprendedor">Emprendedor</option>
            </select>
          </div>

          <div class="form-group col mt-1">
            <label class="text-secondary" for="location">Ubicación</label>
            <input
              type="text"
              name="location"
              id="location"
              class="form-control"
              placeholder="Ubicación"
              [(ngModel)]="editExperience.location"
              required
            />
          </div>

          <div class="form-check mt-3">
            <input
              #actualidad
              class="form-check-input"
              type="checkbox"
              value="actualidad"
              id="endTime"
              name="endTime"
              (click)="updateEditExperienceActualJob($event)"
              [checked]="editExperience.endTime === 'actualidad'"
              required
            />
            <label class="form-check-label" for="flexCheckDefault">
              Actualmente tengo este cargo
            </label>
          </div>

          <div class="form-group col mt-2">
            <label class="text-secondary" for="startTime">Fecha Inicio</label>
            <input
              type="month"
              min="1925-01"
              max="2022-03"
              name="startTime"
              id="startTime"
              class="form-control"
              placeholder="Fecha Inicio"
              [(ngModel)]="editExperience.startTime"
              required
            />
          </div>

          <div *ngIf="!actualidad.checked" class="form-group col">
            <label class="text-secondary" for="endTime">Fecha Fin</label>
            <input
              type="month"
              min="1925-01"
              max="2022-03"
              name="endTime"
              id="endTime"
              class="form-control"
              placeholder="Fecha Fin/Actualidad"
              [(ngModel)]="editExperience.endTime"
              required
            />
          </div>

          <div class="form-group col mt-2">
            <label class="form-label mb-0 text-secondary ms-1" for="img"
              >Si lo desea, agregue una url de imagen descriptiva.</label
            >
            <input
              type="text"
              name="img"
              id="img"
              class="form-control"
              placeholder="Imagen descriptiva"
              [(ngModel)]="editExperience.img"
            />
            <span class="text-secondary ms-1 fs-6"
              >Ej.:
              https://www.unl.edu.ar/wp-content/uploads/2018/05/cropped-favicon-300x300.png</span
            >
          </div>

          <div class="modal-footer border-0 mb-0">
            <button
              class="btn btn-outline-primary fw-bold rounded-pill"
              data-bs-dismiss="modal"
              [disabled]="!editExpForm.valid"
              type="submit"
            >
              Guardar
            </button>
          </div>
        </form>

        <!-- End Edit Form -->
      </div>
    </div>
  </div>
</div>
<!-- End Edit Experience Modal -->
